@model IEnumerable<WebApplication4.Models.Guest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cardholder_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.card_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cvv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exp_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cardholder_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.card_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cvv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exp_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cust_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cust_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cust_id })
        </td>
    </tr>
}

</table>
